Flow 1.json
[{"id":"9abc43b7.eb163","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"798ea386.7fb77c","type":"debug","z":"9abc43b7.eb163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":240,"wires":[]},{"id":"9663aa4f.4a1fe8","type":"rpi-gpio in","z":"9abc43b7.eb163","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":280,"wires":[["798ea386.7fb77c","e82e7963.786728"]]},{"id":"e82e7963.786728","type":"switch","z":"9abc43b7.eb163","name":"if input in 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":320,"wires":[["e5e9c79e.90c098"],["a863653f.134fb8"]]},{"id":"e5e9c79e.90c098","type":"change","z":"9abc43b7.eb163","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["b661b399.f4b4e"]]},{"id":"a863653f.134fb8","type":"change","z":"9abc43b7.eb163","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["b661b399.f4b4e"]]},{"id":"b661b399.f4b4e","type":"rpi-gpio out","z":"9abc43b7.eb163","name":"LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":630,"y":320,"wires":[]}]