Flow 2.json
[{"id":"f9225610.1c5968","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"5f7d3332.6a4f2c","type":"inject","z":"f9225610.1c5968","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["cf317193.23445"]]},{"id":"cf317193.23445","type":"function","z":"f9225610.1c5968","name":"Payload","func":"msg.headers={\n    deviceKey:\"TKPysDkk8Umn79YU\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":400,"wires":[["51225280.390bac"]]},{"id":"51225280.390bac","type":"http request","z":"f9225610.1c5968","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DnaXXDsO/datachannels/LED/datapoints.csv","tls":"","proxy":"","authType":"","x":450,"y":400,"wires":[["67571d74.aeacb4","2e67b889.286788"]]},{"id":"2e67b889.286788","type":"http response","z":"f9225610.1c5968","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"67571d74.aeacb4","type":"debug","z":"f9225610.1c5968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":440,"wires":[]}]