Flow 3.json
[{"id":"bf2f6ef0.e8e77","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"83af81fe.5cdee","type":"inject","z":"bf2f6ef0.e8e77","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["c48a9ada.c7ea28"]]},{"id":"c48a9ada.c7ea28","type":"function","z":"bf2f6ef0.e8e77","name":"Payload","func":"msg.headers={\n    deviceKey:\"TKPysDkk8Umn79YU\"\n};\nmsg.payload=\"Temperature,,22\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["9a70f7bb.112d78"]]},{"id":"9a70f7bb.112d78","type":"http request","z":"bf2f6ef0.e8e77","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DnaXXDsO/datapoints.csv","tls":"","proxy":"","authType":"","x":470,"y":280,"wires":[["364d1695.8723ba","e6636771.4be728"]]},{"id":"e6636771.4be728","type":"http response","z":"bf2f6ef0.e8e77","name":"","statusCode":"","headers":{},"x":630,"y":240,"wires":[]},{"id":"364d1695.8723ba","type":"debug","z":"bf2f6ef0.e8e77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":320,"wires":[]}]